[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo /bin/bash -c "/home/ironfoot/Capstone/run.sh"
Name=Activate KickPro
Comment=Run Ball-Launcher
Icon=/home/ironfoot/my_icon.png

# Do the following to setup
# chmod +x capstone.desktop
# sudo visudo
# Add to end of file:
# ironfoot ALL=(ALL) NOPASSWD: /bin/bash -c /home/ironfoot/Capstone/run.sh
