[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo gnome-terminal -- python3 /home/ironfoot/Capstone/userInterface.py
Name=GUI
Comment=Launch GUI
Icon=/home/ironfoot/Captsone/my_icon.png

# Do the following to setup
# cp GUI.desktop /home/ironfoot/Desktop
# cd ~/Desktop
# chmod +x capstone.desktop
# sudo visudo
# Add to end of file:
# ironfoot ALL=(ALL) NOPASSWD: /use/bin/python3 /home/ironfoot/Capstone/userInterface.py
