[Unit]
Description=Capstone Script
After=graphical.target

[Service]
ExecStart=/usr/bin/gnome-terminal -- python3 /home/ironfoot/Capstone/my_interface.py
WorkingDirectory=/home/ironfoot/Capstone
Type=simple
User=ironfoot
Restart=on-failure
RestartSec=10
StartLimitInterval=0
StartLimitBurst=3

[Install]
WantedBy=graphical.target

# Enter the following commands in a terminal in this directory to set up systemd
# sudo cp my_interface.service /etc/systemd/system/ 
# sudo systemctl daemon-reload
# sudo systemctl enable my_interface.service
# sudo systemctl start my_interface.service
